<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="qq" jdbcType="INTEGER" property="qq" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />

  </resultMap>
  <sql id="Base_Column_List">
    id, name, pwd, qq, email, phone
  </sql>
  <select id="selectByName"  resultMap="BaseResultMap">
    select *
    from user
    where name = #{name}
  </select>

  <select id="selectByPhone"  resultMap="BaseResultMap">
    select *
    from user
    where phone = #{phone}
  </select>

  <select id="selectByEmail"  resultMap="BaseResultMap">
    select *
    from user
    where email = #{email}
  </select>

  <select id="list"  resultMap="BaseResultMap">
    select
    *
    from user
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.User">
    insert into user (id, name, pwd, 
      qq, email, phone,picture)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{qq,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="register" parameterType="com.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="picture != null">
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="loginCheck" parameterType="com.pojo.User" resultMap="BaseResultMap">
    select * from user where name=#{name} and pwd=#{pwd}
  </select>


    <select id="loginCheck1" parameterType="com.pojo.User" resultMap="BaseResultMap">
    select * from user
    <where>
        <if test="name!=null">
            name =#{name}
        </if>
        <if test="phone!=null">
            phone =#{phone}
        </if>
        <if test="email!=null">
            email =#{email}
        </if>
        and
        pwd=#{pwd}

    </where>
  </select>

</mapper>